.filter {
  align-self: flex-start;
}
form {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-gap: 14px;
  margin-top: 20px;
}
form .sub-header {
  grid-column: 2/2;
}
label {
  grid-column: 1/2;
  padding-left: 20px;
  font-size: 14px;
  text-align: right;
}
input {
  grid-column: 2/2;
  border-radius: 5px;
  border: 1px solid #ebeef4;
  width: 120px;
  margin-top: -12px;
  padding: 12px;
  outline: none;
}

form .newButton {
  grid-column: 2/2;
}
